body {
    margin: 0px;
}

@font-face {
    font-family: NotoSans;
    src: url(NotoSans-Regular.ttf);
}

header {
    position: fixed;
    margin-top: -40px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    height: 400px;
}

ul {
    margin-top: 230px;

}

@media screen and (max-width: 640px) {
    header {
        
        background-image: url(banner_640.jpg);
        position: relative;
    }
    
}

@media screen and (min-width: 641px) and (max-width: 1280px) {
    header {
        background-image: url(banner_1280.jpg);
        position: relative;
    }
}

@media screen and (min-width: 1281px) {
    header {
        background-image: url(banner_1920.jpg);
        position: relative;
    }
}

header h1 {
    font-family: NotoSans;
    text-align: center;
    font-size: 60px;
    padding-top: 100px;
    text-shadow: 3px 1px 1px black;
    color: white;
    letter-spacing: 70px;
}

header ul {
    list-style: none;
    padding-left: 0px;
    width: 160px;
}

.in {
    background-color: #c4d856;
}

.ani {
    background-color: #cca463;
}

.loca {
    background-color: #b43f3f;
}

header li {
    display: ;
    margin-top: 10px;
}

header a:link {
    text-decoration: none;
    color: black;
    display:block;
    padding: 10px;
    padding-right: 25px;
    text-align: right;
    font-weight: bold;
    transform: translateX(-90%);
    transition: 0.2s;
    box-shadow: 1px 1px 1px #919191;
}

header a:hover {
    transform: translateX(0%);
}

section {
    width: 1000px;
    margin: auto;
    text-align: justify;
}

section article h1 {
    text-align: center;
}
